<main class="customers">
    <h1 class="testimonial__name text-center bold">OUR FEATURES</h1>
    <p class="text-center ">There are our top features you would love to explore</p>
    <div>
        <div class="testimonial" id="customer-1">
            <div class="testimonial__image-container">
                <img src="../../../assets/images/wall.png" alt="Mike Statham - Customer"
                    class="testimonial__image">
            </div>
            <div class="testimonial__info">
                <h1 class="testimonial__name">WALL</h1>
                <p class="testimonial__text">A social platform connecting
                    students, faculty, alumni and
                    administrators</p>
            </div>
        </div>
        <div class="testimonial" id="customer-2">

            <div class="testimonial__info">
                <h1 class="testimonial__name">CAMPUS</h1>
                <p class="testimonial__text">Discover or market events
                    and latest happenings
                    around campus
                </p>
            </div>
            <div class="testimonial__image-container">
                <img src="../../../assets/images/campus.png" alt="John Mellow - Customer"
                    class="testimonial__image">
            </div>
        </div>
        <div class="testimonial" id="customer-3">
            <div class="testimonial__image-container">
                <img src="../../../assets/images/study.png" alt="Mike Statham - Customer"
                    class="testimonial__image">
            </div>
            <div class="testimonial__info">
                <h1 class="testimonial__name">FINDER</h1>
                <p class="testimonial__text">Strengthen your network by
                    finding people, mentors and
                    even food that's left over
                    from an event!</p>
            </div>
        </div>
        <div class="testimonial" id="customer-2">

            <div class="testimonial__info">
                <h1 class="testimonial__name">STUDY</h1>
                <!-- <h2 class="testimonial__subtitle">Hosts his private videos on uHost.
                </h2> -->
                <p class="testimonial__text">Ace courses, meet
                    groupmates, connect with
                    peers.
                </p>
            </div>
            <div class="testimonial__image-container">
                <img src="../../../assets/images/finder.png" alt="John Mellow - Customer"
                    class="testimonial__image">
            </div>
        </div>
        
        
        
    </div>

    <section>
        <div class="main-1 color-white">
            <div class="container">
            <div class="main-header__brand color-white">
                <div style="display: flex;">
                <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" />

                <h1>CLASSROOM</h1>
            </div>
                <h5>Designed to meet the needs of both a real <br> and virtual classroom.</h5>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3 class="bold">Student Can</h3>
                        <!-- <p>class="col-xs-12 col-sm-6"</P> -->
                        <ul>
                            <li>Attend a virtual classroom</li>
                            <li>Submit class assignments</li>
                            <li>Discuss course material on a closed or open forum</li>
                            <li>Create petitions and place requests</li>
                            <li>Quickly chat with teachers on exam clearance and other issues</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <!-- <p>class="col-xs-12 col-sm-6"</P> -->
                        <img src="../../../assets/images/classroom-img.png" alt="">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3 class="bold">Teachers Can</h3>
                        <ul>
                            <li>Host a virtual classroom</li>
                            <li>Post updates on class assignments and deadlines</li>
                            <li>Accept coursework</li>
                            <li>Carry out discussions on a closed or open forum</li>
                            <li>Accept or Reject petitions/requests</li>
                        </ul>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </section>

    <section>
        <div class=" main-1 color-white">
            <div class="container">
            <h1 class="text-center">There's More</h1>
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3 class="bold">CHAT</h3>
                        <p>
                            Connect with people all over your campus. But hey, you can choose to be as public or as
                            private as you like!
                        </p>
                        <img src="../../../assets/images/chat.png" alt="">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3 class="bold">MARKETPLACE</h3>
                        <p>Old dorm room supplies?
                            Baked an extra batch of
                            cookies? Got some nice
                            things you don't need? Sell
                            them!</p>
                        <img src="../../../assets/images/marketplace.png" alt="">

                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <h3 class="bold">STORIES</h3>
                        <p>An all inclusive platform to
                            share the latest campus
                            news, updates and event
                            coverage so you don't miss
                            a thing!</p>
                        <img src="../../../assets/images/stories.png" alt="">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div class=" main-1 color-white">
            <div class="container">
            <div class="main-header__brand color-white">
                <!-- <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" /> -->

            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="box">
                        <img src="../../../assets/images/checklist.png" alt="">

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="box">
                        <h1>Checklist</h1>
                        <ul>
                            <li>Building a cohesive campus community</li>
                            <li>Student-Faculty-Admin communication
                                made easy</li>
                            <li>Encouraging socialisation without the
                                awkward reaching out stages</li>
                            <li>Providing an all inclusive platform to
                                allow better time management</li>
                            <li>Keep track of campus life</li>
                            <li>Fun, user-friendly app that aims to help
                                you enjoy your college life to the fullest</li>
                        </ul>
                        <h1 class="bold">Its All here!</h1>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div class=" main-1 color-white">
          <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <!-- <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" /> -->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" />
                        <br>
                        <h1 class="text-center bold">Thank you</h1>
                        <h6 class="text-center"> we look forward to working with you</h6>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="box">
                        <!-- <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" /> -->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

</main>