<header class="main-header">
    <div class="container">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <a routerLink="" class="main-header__brand">
            <img src="../../../assets/images/ur.png" alt="uHost - Your favorite hosting company" />
        </a>
    </div>
    <nav class="main-nav container">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a routerLinkActive="active-link" routerLink="features">Our Features</a>
            </li>


            <li class="main-nav__item">
                <a routerLinkActive="active-link" routerLink="contact-us">Contact Us</a>
            </li>


        </ul>
    </nav>
</header>